{
    "openapi": "3.0.0",
    "info": {
        "title": "Viblo API",
        "description": "API documentation for Viblo, utilizing Laravel Sanctum for authentication.",
        "contact": {
            "email": "chien.nd@zinza.com.vn"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.viblo.clone",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "operationId": "bb41d9524d1781b0e0f057673979e5c7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User registration",
                "operationId": "3745f4df64a4b5123749f6463365b55a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send reset link email",
                "operationId": "5309b755ddc292cd4d44e84b6a845490",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "nona.upton@example.org"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset link sent",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid email",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "429": {
                        "description": "Many Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset user password",
                "operationId": "a021b5043fe1e643215dead51c8940b3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/api/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "operationId": "944f39c800d7ae24b55b18868e032d07",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user",
                "operationId": "7029e3e8d2d6c300d23adff07cfb497e",
                "responses": {
                    "200": {
                        "description": "Authenticated user data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/posts/{postId}/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get parent comments for a post",
                "operationId": "5da4f14d58175282d7bd4e841a16e212",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "The ID of the post",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of comments per page",
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Parent comments fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "comments": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CommentResource"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "total_pages": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Create a new comment",
                "operationId": "e750cd43bc1bf26eee7c72e6d14cb407",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "The ID of the post",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCommentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/posts/{postId}/comments/{parentId}/replies": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get child comments for a parent comment",
                "operationId": "36396823cdaafc46483787afb2797f15",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "The ID of the post comment",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "path",
                        "description": "The ID of the parent comment",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of comments per page",
                        "schema": {
                            "type": "integer",
                            "default": 3
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Child comments fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "comments": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CommentResource"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "total_pages": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/posts/{postId}/comments/{id}": {
            "put": {
                "tags": [
                    "Comments"
                ],
                "summary": "Update a comment",
                "operationId": "aae0b905089acf7b6930ed6c683c07f6",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "ID of the post",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the comment to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "content": {
                                        "description": "Updated content of the comment",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Comment not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/upload": {
            "post": {
                "tags": [
                    "Media"
                ],
                "summary": "Upload media to S3",
                "operationId": "4dcb14c631ed9a5307984191302dde71",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "file_name"
                                ],
                                "properties": {
                                    "file_name": {
                                        "description": "The file extension of the media",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful media upload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "file_path": {
                                            "description": "The path of the uploaded file",
                                            "type": "string"
                                        },
                                        "pre_signed": {
                                            "description": "The pre-signed URL for the uploaded file",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/get-object": {
            "get": {
                "tags": [
                    "Media"
                ],
                "summary": "Get a media object URL",
                "operationId": "aa94ee8a8662b88b9f9b7497e291317c",
                "parameters": [
                    {
                        "name": "file_path",
                        "in": "query",
                        "description": "The path of the media file",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful retrieval of media URL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "url": {
                                            "description": "The URL of the requested media file",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Input validated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get list of notifications",
                "operationId": "1a9cfe74b6544354c5a8677df9873d45",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of notifications",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/notifications/mark-as-read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as read",
                "operationId": "31f2c732716307c254878f7e42e88934",
                "responses": {
                    "200": {
                        "description": "All notifications marked as read."
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get list of posts",
                "operationId": "bc5d6e116cd8eeef273e7cc66f78a3aa",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of posts per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PostResource"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters"
                    }
                }
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Create a new post",
                "operationId": "e593a618b79c09fb513e3cb27015213a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StorePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bài viết được tạo thành công!!"
                                        },
                                        "slug": {
                                            "type": "string",
                                            "example": "new-post"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/posts/{slug}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get a specific post by slug",
                "operationId": "fc31574b5f089810405b67072905fac3",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the post",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Post not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/posts/{id}/vote": {
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Vote on a post (upvote or downvote)",
                "operationId": "331bdb6f603c9b73f43fc6b9634d3cd6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Post ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "vote": {
                                        "type": "string",
                                        "enum": [
                                            "up",
                                            "down",
                                            "none"
                                        ],
                                        "example": "up"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vote recorded succes",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tags/search": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "Search for tags",
                "operationId": "fde3ee7ec695316dd175201c17a2988a",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "The search term for tags",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful search for tags",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get a list of users",
                "operationId": "5ceff91ee8b0026735f8f186f63adc62",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of users per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid request"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/email/verify/{id}/{hash}": {
            "get": {
                "tags": [
                    "Verification"
                ],
                "summary": "Verify user email",
                "operationId": "83b6beb55f4d1c1de919031b7bdd2a5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the user to verify",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "The hash used for verifying the user's email",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirects after verification"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/v1/email/verify/resend": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "summary": "Resend verification email",
                "operationId": "be66a63df8f60ab506d278cb03ecb9a4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User's email address",
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verification link sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Verification link sent!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Your email is already verified."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "LoginRequest": {
                "required": [
                    "email_or_username",
                    "password"
                ],
                "properties": {
                    "email_or_username": {
                        "type": "string",
                        "example": "nona.upton@example.org"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "password"
                    }
                },
                "type": "object"
            },
            "RegisterRequest": {
                "required": [
                    "username",
                    "email",
                    "password",
                    "c_password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "example": "username123"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "password123"
                    },
                    "c_password": {
                        "type": "string",
                        "format": "password",
                        "example": "password123"
                    }
                },
                "type": "object"
            },
            "ResetPasswordRequest": {
                "required": [
                    "email",
                    "password",
                    "c_password",
                    "token"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "newpassword123"
                    },
                    "c_password": {
                        "type": "string",
                        "format": "password",
                        "example": "newpassword123"
                    },
                    "token": {
                        "type": "string",
                        "example": "reset_token_here"
                    }
                },
                "type": "object"
            },
            "StoreCommentRequest": {
                "required": [
                    "post_id",
                    "type",
                    "content"
                ],
                "properties": {
                    "post_id": {
                        "description": "ID of the post",
                        "type": "integer",
                        "example": 1
                    },
                    "type": {
                        "description": "Type of comment",
                        "type": "string",
                        "enum": [
                            "post",
                            "question"
                        ],
                        "example": "post"
                    },
                    "content": {
                        "description": "Content of the comment",
                        "type": "string",
                        "example": "This is a sample comment."
                    },
                    "parent_id": {
                        "description": "ID of the parent comment (if it's a reply)",
                        "type": "integer",
                        "example": null,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "StorePostRequest": {
                "required": [
                    "title",
                    "content",
                    "tags"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "New Post"
                    },
                    "content": {
                        "type": "string",
                        "example": "Post content"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "tag1"
                        }
                    }
                },
                "type": "object"
            },
            "CommentResource": {
                "properties": {
                    "id": {
                        "description": "The unique identifier of the comment",
                        "type": "integer",
                        "example": 1
                    },
                    "post_id": {
                        "description": "The ID of the associated post",
                        "type": "integer",
                        "example": 10
                    },
                    "user_id": {
                        "description": "The ID of the user who made the comment",
                        "type": "integer",
                        "example": 5
                    },
                    "content": {
                        "description": "The content of the comment",
                        "type": "string",
                        "example": "This is a sample comment."
                    },
                    "type": {
                        "description": "The type of comment",
                        "type": "string",
                        "enum": [
                            "post",
                            "question"
                        ],
                        "example": "post"
                    },
                    "row_count": {
                        "description": "The row count of the comment",
                        "type": "integer",
                        "example": 0
                    },
                    "parent_id": {
                        "description": "The ID of the parent comment if this is a reply",
                        "type": "integer",
                        "example": null,
                        "nullable": true
                    },
                    "created_at": {
                        "description": "The date and time when the comment was created",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-25T12:34:56"
                    },
                    "updated_at": {
                        "description": "The date and time when the comment was last updated",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-25T12:34:56"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserResource"
                    }
                },
                "type": "object"
            },
            "NotificationResource": {
                "title": "NotificationResource",
                "required": [
                    "id",
                    "data",
                    "type",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "data": {
                        "type": "object",
                        "example": {
                            "message": "You have a new notification"
                        }
                    },
                    "type": {
                        "type": "string",
                        "example": "info"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-04T10:00:00Z"
                    },
                    "read_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-04T12:00:00Z"
                    }
                },
                "type": "object"
            },
            "PostResource": {
                "title": "Post Resource",
                "description": "Post Resource model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "serie_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "organ_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "title": {
                        "type": "string",
                        "example": "Introduction to Laravel"
                    },
                    "slug": {
                        "type": "string",
                        "example": "introduction-to-laravel"
                    },
                    "status": {
                        "type": "string",
                        "example": "published"
                    },
                    "schedule_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-26T10:30:00Z"
                    },
                    "publish_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-26T12:00:00Z"
                    },
                    "view_count": {
                        "type": "integer",
                        "example": 1234
                    },
                    "vote": {
                        "type": "integer",
                        "example": 5
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-25T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-25T12:00:00Z"
                    },
                    "comment_count": {
                        "type": "integer",
                        "example": 10
                    },
                    "tags": {
                        "$ref": "#/components/schemas/TagResource"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserResource"
                    }
                },
                "type": "object"
            },
            "TagResource": {
                "title": "Tag Resource",
                "description": "Tag Resource representation",
                "properties": {
                    "id": {
                        "description": "ID of the tag",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Name of the tag",
                        "type": "string"
                    },
                    "slug": {
                        "description": "Slug of the tag",
                        "type": "string"
                    },
                    "post_count": {
                        "description": "Number of posts associated with the tag",
                        "type": "integer"
                    },
                    "created_at": {
                        "description": "Tag creation timestamp",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Tag update timestamp",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "UserResource": {
                "properties": {
                    "id": {
                        "description": "The unique identifier of the user",
                        "type": "integer",
                        "example": 1
                    },
                    "username": {
                        "description": "The username of the user",
                        "type": "string",
                        "example": "john_doe"
                    },
                    "display_name": {
                        "description": "The display name of the user",
                        "type": "string",
                        "example": "John Doe"
                    },
                    "fullname": {
                        "description": "The full name of the user",
                        "type": "string",
                        "example": "Johnathan Doe"
                    },
                    "email": {
                        "description": "The email address of the user",
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                    },
                    "avatar": {
                        "description": "The URL of the user's avatar",
                        "type": "string",
                        "example": "https://example.com/avatar/john_doe.jpg"
                    },
                    "role_id": {
                        "description": "The role ID of the user",
                        "type": "integer",
                        "example": 2
                    },
                    "address": {
                        "description": "The address of the user",
                        "type": "string",
                        "example": "123 Main St, Springfield",
                        "nullable": true
                    },
                    "phone": {
                        "description": "The phone number of the user",
                        "type": "string",
                        "example": "+1234567890",
                        "nullable": true
                    },
                    "university": {
                        "description": "The university of the user",
                        "type": "string",
                        "example": "Springfield University",
                        "nullable": true
                    },
                    "followers_count": {
                        "description": "The number of followers the user has",
                        "type": "integer",
                        "example": 100
                    },
                    "following_count": {
                        "description": "The number of users the user is following",
                        "type": "integer",
                        "example": 50
                    },
                    "total_view": {
                        "description": "The total view count for the user's content",
                        "type": "integer",
                        "example": 1500
                    },
                    "bookmark_count": {
                        "description": "The number of bookmarks the user has",
                        "type": "integer",
                        "example": 25
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "API endpoints for user authentication"
        },
        {
            "name": "Comments",
            "description": "API endpoints for managing comments"
        },
        {
            "name": "Media",
            "description": "API endpoints for media management"
        },
        {
            "name": "Notifications",
            "description": "API endpoints for user notifications"
        },
        {
            "name": "Posts",
            "description": "API endpoints for manage post"
        },
        {
            "name": "Tags",
            "description": "API endpoints for managing tags"
        },
        {
            "name": "Verification",
            "description": "API endpoints for email verification"
        },
        {
            "name": "Users",
            "description": "Users"
        }
    ]
}